body
{
    background-image: url("taust.jpg");
    background-size: 85%;
    background-repeat: no-repeat;
}
ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: magenta;
}
li
{
    float: left;
}
li a
{
    display: block;
    color: aqua;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover
{
    background-color: black;
}
input[type="text"]
{
    background-color: darkblue;
}